* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    font-family: arial,sans-serif;
}

#container {
    min-height: 100%;
}

#main {
    overflow: hidden;
}

#top-nav {
    display: flex;
    height: auto;
    width: auto;
    list-style-type: none;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: 17px;
    align-items: center;
}

.right {
    margin-left: auto;
}

#top-nav a {
    color: #000000;
    opacity: .75;
    font-size: 13px;
    margin: 9px;
    text-decoration: none;
}

#top-nav a:hover {
    text-decoration: underline;
}

#signin {
    color: #fff;
    font-weight: bold;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    padding: 0 12px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    line-height: 28px;
}

#signin:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}

img {
    max-width: max-content;
    margin: 100px 0px 30px 5px;
}

#search-bar {
    height: 40px;
    width: 500px;
    outline: 0;
    border: 1px;
    border-radius: 20px;
    border-width: 100%;
    border-color: rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
#search-bar:focus {
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.13);
}

.form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#footer {
    position: relative;
    height: 40px;
    margin-top: -42px;
    overflow: hidden;
    background-color: #f2f2f2;
    border-top: 1px solid #e7e7e7;
}

#bottom-nav {
    display: flex;
    height: 40px;
    list-style-type: none;
    align-items: center;
}

#bottom-nav a {
    font-size: 14px;
    text-decoration: none;
    padding-left: 27px;
    color: #5f6368;
}

#bottom-nav a:hover {
    text-decoration: underline;
}

#bottom-nav #right-link {
    padding-right: 27px;
}